/*

  
.bloque
{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    margin: 0 auto;

}
*/
html 
{
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 10px;
    background-image: url('../img/fondoazul.jpeg');
}

.col-md-4
{
    width: 30%;
    border:1px black solid;
    margin-right: 1em;
    box-sizing: border-box;
   /* margin:2px 2px; */
}


li
{
    margin-top: 10px; 
}

.container
{
    /*
    width: 100vh;
    height: 80vw;
    */
}


img
{
    width: 100px;
    height: 100px;
}