body
{
    
    background:url('../img/fondo.jpg') no-repeat;
    

    /*
    background:url({% url_for('static', filename='img/fondo') %} no-repeat;
    */

    color:white;

    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 70% 1fr;

    grid-template-areas: 
    
        "header header header"
        "main main main"
        "footer footer footer";

    
}


header
{

    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: ". titulo .";
    justify-items: center;
    align-items: center;
}

.titulo
{
    grid-area: titulo;

}

main
{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "bicho logo compatibilidad";
    justify-items: center;
    align-items: center;
}

.logo
{
    grid-area: logo;

}

.logo
{
    grid-area: logo;
}

.logo__titulo
{
    font-size: 4rem;
}

footer
{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: ". formulario .";
    justify-items: center;
    align-items: flex-start;
}

form
{
    grid-area: formulario;
    text-align: center;
    
}