{% extends 'base.html' %}


<!-- MAIN -->
{% block main %}
<div class="signo">
<figure>
    <img src="../static/img/rata.svg" alt="">
    <figcaption>RATA</figcaption>
</figure>
</div>
<div class="compatibilidad">
    <figure>
        <img src="../static/img/mono.svg" alt="">
        <figcaption>MONO</figcaption>
    </figure>
    <figure>
        <img src="../static/img/dragon.svg" alt="">
        <figcaption>DRAGÓN</figcaption>
    </figure>
</div>
{% endblock %}

<!-- FOOTER -->
{% block footer %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aspernatur blanditiis quasi optio libero accusamus maiores eius facere, dolore facilis saepe reiciendis delectus architecto commodi alias accusantium dolores iusto repellat doloribus non exercitationem obcaecati! Libero laboriosam obcaecati illum totam praesentium veritatis quo, illo ab qui sapiente unde veniam placeat sed optio accusamus rem voluptas quos velit eos reprehenderit nobis. Quaerat id blanditiis ab obcaecati optio, quo nobis autem perspiciatis culpa ipsum tempora voluptatem inventore eum explicabo fuga adipisci sapiente exercitationem cupiditate libero quae veniam nam sunt cumque. Inventore ab quisquam autem labore dolores repudiandae illum ullam, dolor eos. Inventore, deserunt excepturi, provident animi quasi pariatur aspernatur quod dicta sint fugiat modi nostrum atque quo velit iure. Ipsum incidunt delectus ipsa!7
</p>
{% endblock %}